<div>
    <li id="font-size" class="acl-write">
        <label class="ep_font_size _label buttonicon"></label>
        <select class="size-selection" title="Размер шрифта">
            <option value="fs8">8</option>
            <option value="fs9">9</option>
            <option value="fs10">10</option>
            <option value="fs11">11</option>
            <option value="fs12">12</option>
            <option value="fs13">13</option>
            <option value="fs14">14</option>
            <option value="fs15">15</option>
            <option value="fs16">16</option>
            <option value="fs17">17</option>
            <option value="fs18">18</option>
            <option value="fs19">19</option>
            <option value="fs20">20</option>
        </select>
    </li>
</div>

<style>
    .ep_font_size.buttonicon {
        font-size: font-awesome;
    }

    .ep_font_size.buttonicon:before {
        content: "\e81f";
        top: 2px !important;
    }

    #font-size {
        display: flex;
    }

    /* reset*/
    .size-selection,
    .size-selection:focus,
    .size-selection:active {
        outline: 0 !important;
        box-shadow: none;
        border: 0 !important;
    }

    .size-selection {
        display: inline-block;
        min-width: 37px;
        max-width: 37px;
        height: 32px;
        background: #f7f7f7;
        cursor: pointer;
        margin-left: -3px;
        border-radius: 0 3px 3px 0 !important;
    }

    .size-selection option {
        cursor: pointer;
    }

    .ep_font_size._label {
        margin-right: -4px;
        text-align: center;
        min-width: 25px;
        display: inline-block;
        line-height: 32px;
        min-height: 32px;
        background: #e3e3e3;
    }

</style>
